.App {
  text-align: center;
}

li{
  list-style-type: none;
}

form.login input{
  margin: 4px;
}

img#logo {
  width: 100px;
}

div.nav-bar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.blue-button{
  background-color: blue;
  border: 2px solid blue;
  outline: none;
  color: white;
  font-weight: bold;
  margin: 4px;
  padding: 2px;
  border-radius: 3px;
}

.red-button{
  background-color: red;
  border: 2px solid red;
  outline: none;
  color: white;
  font-weight: bold;
  margin: 4px;
  padding: 2px;
  border-radius: 3px;
}

.blue-button:hover, .red-button:hover{
  opacity:75%;
  
  box-shadow: 5px 5px #EBB8B1;
}

