.App {
  text-align: center;
}

li{
  list-style-type: none;
}

form.login input{
  margin: 4px;
}

img#logo {
  width: 100px;
}

div.nav-bar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.blue-button{
  background-color: hsl(200, 100%, 50%);
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  margin: 4px;
  padding: 5px 20px;
  border-radius: 5px;
}

.red-button{
  background-color: hsl(0, 100%, 50%);
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  margin: 4px;
  padding: 2px;
  border-radius: 5px;
}

.blue-button:hover, .red-button:hover{
  opacity:75%;
  
  /* box-shadow: 5px 5px #2b2b2b; */
}

div.status{
  text-align: left;
}